div(ng-include='"components/navbar/navbar.html"')
.container.vote-box
  h2 {{poll.question}}
  p Created by {{poll.owner.name}}
    
  .col-sm-8.choices-box
    form.form(name='form', ng-submit='vote(form)', novalidate='')
      .form-group(ng-repeat="option in poll.options")
        label(for='{{$index}}') {{option.text}}
        input.pull-right(type='radio', name='choice', id='{{$index}}', value='{{option.text}}', ng-model='optionData.text')

      div
        button.btn.btn-primary.btn-lg(type='submit') Vote!
  .col-sm-8
    canvas#bar.chart.chart-bar(data="data", labels="labels", ng-show="userVoted")
