div(ng-include='"components/navbar/navbar.html"')
.container.vote-box
  h2 {{poll.question}}
  p Created by {{poll.owner.name}}
    
  .col-sm-8.choices-box(ng-hide="userVoted")
    form.form(name='form', ng-submit='vote(form)', novalidate='')
      .form-group(ng-repeat="option in poll.options")
        label(for='{{$index}}') {{option.text}}
        input.pull-right(type='radio', name='choice', id='{{$index}}', value='{{option.text}}', ng-model='optionData.text')

      div
        button.btn.btn-primary.btn-lg(type='submit', ng-show="isLoggedIn()") Vote!
        a.btn.btn-primary(href="/login", ng-hide="isLoggedIn()") Log in to vote!
  .col-sm-6(ng-if="userVoted")
    table.table.table-hover
      thead
        tr
          th.text-center Option
          th.text-center Votes
      tbody
        tr(ng-repeat='option in poll.options')
          td {{option.text}}
          td {{option.count}}
  .col-sm-6.graph(ng-show="userVoted")
    canvas#bar.chart.chart-pie(data="data", labels="labels", legend="true")
