div(ng-include='"components/navbar/navbar.html"')

header#banner.hero-unit
  .container
    h1 Vot-a-matic
    p.lead Make polls and share them with your friends
    //img(src='assets/images/yeoman.png', alt='I\'m Yeoman')

.container.ad
  .row
    .col-sm-4
      i.fa.fa-bar-chart
      h2 Instant results
      p Easy to read graphs give you the power to understand your data. Better than mind reading!
    .col-sm-4
      i.fa.fa-tablet
      h2 Use it anywhere
      p Vot-a-matic interface looks great at any size. You can use it in your desktop, tablet or mobile
    .col-sm-4
      i.fa.fa-exchange
      h2 Share your opinion
      p Let other people know your opinion by answering their polls.

footer.footer
  .container
    p
      | a Free Code Camp Basejump by 
      a(href='https://twitter.com/_jmartinez') @_jmartinez
      = ' | '
      a(href='https://github.com/jbmartinez/') GitHub