div(ng-include='"components/navbar/navbar.html"')
.container
  p
    | Create a new poll
    
  .col-sm-12
      tabset(type='pills')
        tab(heading='My polls')
          ul.list-group
            li.list-group-item(ng-repeat='poll in polls')
              strong(ng-click="showGraph($index)") {{poll.question}} 
              a(href="{{baseUrl + 'vote/' + poll._id}}") (link)
                a.trash(ng-click='delete(poll)')
                  span.glyphicon.glyphicon-trash.pull-right
          .results(ng-show="graphVisible")
            p.pull-right(ng-click="hideGraph()") close
            .col-sm-8
              canvas#bar.chart.chart-bar(data="data", labels="labels" options="{showTooltips: false}")
                  
        tab(heading='Create new')
          form.form(name='form', ng-submit='addPoll(form)', novalidate='')
            .form-group
              label Question
              input.form-control(type='text', name='question', placeholder='Do you like polls?'  ng-model='poll.question')
            .form-group(ng-repeat="option in poll.options")
              label option
              input.form-control(type='text', name='', ng-model='option.text')
              button.btn(ng-if='$last', ng-click='addNewChoice()') Add choice
    
            div
              button.btn.btn-inverse.btn-lg.btn-login(type='submit') Create

        tab(heading='Browse')
          ul.list-group
            li.list-group-item(ng-repeat='poll in anyPolls')
              strong
                a(href="{{baseUrl + 'vote/' + poll._id}}") {{poll.question}}